<div class="container">
<p class="push">

<p>Salut à toi : <%= @user.name %></p>
<p>Voici ton ID : <%= @user.id %> Tu pourras t'en servir pour te connecter</p>
<th><%= link_to 'Se connecter', session_new_path, class: 'btn btn-primary'%></th>
</p>
</div>