
<div class="global-footer">

<div class="center">
	<h1 class="down" style="color:#485460">Création d'un nouveau membre.</h1>
	<br>


	<h3>Bienvenue à toi !</h3>
	<p>Bravo pour ta participation écris tes infos pour t'inscrire.</p>



		<%= form_for @user, url: {action: "create"} do |f| %>

		<b>Nom utilisateur</b><br>
		<%= f.text_field :name %>
		<div class="form-group">
			<%= f.submit "Inscrit toi" %>
		</div>
		<% end %>

</div>