.center{

	text-align: center;
	height: 415px;

}

.row{
	
margin-right: -15px;
margin-left: -15px;

	
}

.push{

	height: 243px;
	text-align: center;
}
.global-footer{

	margin-top: 40px;
}
.center-create{
	text-align: center;
	height: 400px;
	margin-bottom: 6rem;
	font-size: 30px;
}
.margin{

	margin-bottom: 6rem;
	font-size: 70px;
}